* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.header {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: #5f3f54;
  cursor: pointer;
}

.title {
 font-weight: bold;
 font-size: 30px;
 text-transform: uppercase;
 letter-spacing: 4px;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 15px;
  color: white;
}

.nav-elements a {
   color: white;
   text-decoration: none;
   letter-spacing: 3px;
   text-align: center;
}

.nav-elements li {
  list-style: none;
}

.nav-elements li a {
  transition: all 0.3s ease 0s;
}

/* Text becomes colored after hovering over nav items */
.nav-elements li a:hover {
  color: #0088a9;
}

/* Three lines on top right, can add mobile functionality later */
.menu div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

/* Home page about me, information */
.content {
  display: flex;
  background-color: #326050;
  flex-flow: column;
  height: 100vh;
}

.text {
  margin-top: 10px;
  text-align: center;
  font-size: 65px;
}

/* Containfer for all the trains and stations cards*/
#card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* For trains and stations cards, will do specific ones later for styling  */
.card {
  flex: 1 30%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  margin: 6px;
  flex-direction: row;
}

/* Specific card for routesthrustations */
.route-card {
  flex: 1 50%;
  width: 100%;
  border: 1px solid #26453e;
  padding: 5px;
  text-align: center;
  margin: 5px;
}

/* Specific container for routesthrustations */
#route-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 90%;
  flex-direction: column;
  align-items: center;
}
