* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* background-color: red; */
  cursor: pointer;
}

.title-header {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(243, 180, 62);
  height: 8vh;
  width: 100%;
  border: 1px solid black;
}

.title-name {
  flex: 8;
}

.buttons {
  flex: 2;
  height: 8vh;
  /* background-color: #3d2936; */
  color: white;
  /* font-size: 15px; */
  /* border: 1px solid black; */
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.buttons .butt{
  background-color:rgb(56, 80, 100); /* Blue background color */
  width: 150px;
  height: 25px;
  border-radius: 50px; /* Curve of border corners */
  text-transform: uppercase; /* Make letters uppercase */
  color: white; /* Text color */
}


.buttons :hover {
  color: black;
}

#search-container:hover {
 cursor: pointer;
}

.dropbtn {
  background-color:rgb(56, 80, 100); /* Blue background color */
  width: 100px;
  height: 25px;
  border-radius: 50px; /* Curve of border corners */
  text-transform: uppercase; /* Make letters uppercase */
  color: white; /* Text color */
  margin-right: 10px;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 15px;
  color: white;
  float: right;

}


body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 22px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: rgb(56, 80, 100);
color: white;
}

.topnav-right {
padding-top: 5px;
padding-right: 20px;
margin-right: 20px;
float: right;
}

.topnav-right a:hover {
  color:orange;
}

/* Dimensions for search in stations */
#search-container {
  float: right;
  padding: 0px;
  margin-left: -380px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
}

/* Three lines on top right, can add mobile functionality later */
.menu div {
    padding: 10px;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

/* Home page about me, information */
.content {
  display: flex;
  background-color: white;
  flex-flow: column;
  height: 100vh;
}

.text {
  margin-top: 10px;
  text-align: center;
  font-size: 65px;
}

/*---------------------------*/
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  
}

#card-container {
  background-color: rgb(214, 214, 211);
  width: 100%;
  padding: 50px;
  /* margin: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: table; /* Make the container element behave like a table */

}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}

.col {
    width: 300px;
    padding: 16px;
    float: left;
    display: table-cell; /* Make elements inside the container behave like table cells */
}

/* Specific card for routesthrustations */
.route-card {
  flex-direction: column;
  text-align: left;
  margin-top: 5px;
}

/* Route Number text */
.route-number {
  color: white;
  /* padding: 10px; */
  padding: 10px;
  background-color: rgb(5, 0, 0);
}

.close {
  cursor: pointer;
  position: relative;
  transform: translate(-1%, -15%);
  radius: 45%;
  background-color: lightcoral;
  width: 20px;
  height: 20px;
  border-radius: 50px; /* Curve of border corners */
  color: white; /* Text color */
}

.close_card {
  cursor: pointer;
  position: relative;
  transform: translate(440%, -25%);
  radius: 45%;
  background-color: lightcoral;
  width: 25px;
  height: 25px;
  border-radius: 50px; /* Curve of border corners */
  text-transform: uppercase; /* Make letters uppercase */
  color: white; /* Text color */
}

/* Station name text in routesthrustations */
.stationname {
  flex: 3 30%;
  font-size: 25px;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  text-align: left;
}

/*Sets flexbox size for stations name for intersection table page */
.stationsize {
  flex: 3 30%;
}

/* Removes Border, special condition for stations along a route */
.noborder {
  border: none;
}

/* Specific container for routesthrustations */
#route-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
/* Container to insert boxes */
.insert {
  width: 100%;
  height: auto;
  display: none;
  flex-grow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px black solid;
  padding: 5px;
}

.update {
  width: 100%;
  height: auto;
  display: none;
  flex-grow: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px black solid;
  padding: 5px;
}

/* Header of insertion */
.middle {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  border-bottom: 4px solid grey;
  flex: 1 20px;
  padding-left: 5px;
}

/*One input field*/
.input-box {
  margin-top: 5px;
  padding-left: 5px;
  flex: 1 20px;
  min-width: 100%;
}

/*One input field*/
.update-box {
  margin-top: 5px;
  padding-left: 5px;
  flex: 1 20px;
  min-width: 100%;
}

.show {
  display: flex;
}
