<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<link rel='stylesheet' type='text/css' href='/public/style.css'>

</head>
{{#each jsscripts}}
<script src="/static/{{this}}"></script>
{{/each}}
<body>
	{{{body}}}
</body>
</html>